$anim: all 0.2s linear;

@font-face {
  font-family: HL;
  src: url('../fonts/HL.otf'),
  url('../fonts/HL.eot'),
  url('../fonts/HL.woff');
}

@font-face {
  font-family: HR;
  font-weight: 100;
  src: url('../fonts/HR.otf'),
  url('../fonts/HR.eot'),
  url('../fonts/HR.woff');
}

@font-face {
  font-family: HeB;
  src: url('../fonts/HB.ttf'),
      url('../fonts/HB.eot'),
      url('../fonts/HB.otf'),
      url('../fonts/HB.woff');
}

@font-face {
  font-family: GPR;
  src: url('../fonts/GothamPro.ttf'),
  url('../fonts/GothamPro.eot'),
  url('../fonts/GothamPro.otf'),
  url('../fonts/GothamPro.woff');
}

//base stilization

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: $anim;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

//bootstrap settings

.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}

//header

.header {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  height: 71px;

  .row {
    margin: 0;
  }

  .col-lg-2 {
    padding-left: 0;

    img {
      max-width: 180px;
    }
  }

  .col-lg-1 {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  .header-nav_list {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-left: 4%;

    a {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      height: 40px;
      padding: 10px 10px 10px 10px;

      @media screen and (max-width: 1280px) {
        padding-left: 20px;
        font-size: 16px;
      }

      @media screen and (max-width: 1024px) {
         padding: 5px;
      }

      &:hover {
        background: #194D92;
      }
    }
  }

  .this-nav a {
    background: #194D92;
    color: white;
    white-space: nowrap;
  }

  .language-header {
    background: black;
    width: 71px;
    height: 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: HeB, Arial, sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    position: absolute;
    right: 0;
    top: 0;


    &:hover {
      height: 142px;

      .lang-item {
        height: 71px;
        font-size: 18px;
      }
    }

    .lang-item {
      height: 0;
      font-size: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .lang-show {
      height: 71px;
      font-size: 18px;
    }
  }
}

.header-up {
  background: white;
  transition: 0.5s ease-in-out all;


  .header-nav_list a {
    color: black;
  }

  .this-nav a {
    background: #194D92;
    color: white;
  }
}

//main

.main-slider {
  overflow: hidden;

  .main-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 250px/756px*100vh;
    padding-left: 8%;
    color: white;
    padding-bottom: 71px;
    background-size: 120% 120%;
    background-position-x: 0%;
    transition: 0.5s ease-out all;
    transition-delay: 0.1s;
  }

  .main-slide_show {
    background-position-x: 50%;
  }

  .first-count {
    font-family: HR, Arial, sans-serif;
    font-size: 144px;
    color: white;
    opacity: 0.5;
    letter-spacing: -14px;
  }

  .second-count {
    font-family: HeB, Arial, sans-serif;
    font-size: 28px;
    opacity: 0.5;
    letter-spacing: 2px;
    color: white;
  }

  .quotes {
    font-family: HR, Arial, sans-serif;
    font-size: 144px;
    color: #E21A1A;
    display: block;
    line-height: 20%;
  }

  .title-other {
    font-family: HR, Arial, sans-serif;
    font-size: 48px;
    color: white;
    max-width: 345px;
  }

  .count-name {
    font-family: HeB, Arial, sans-serif;
    font-size: 18px;
    color: white;
    max-width: 170px;
  }

  .row {
    position: relative;
  }

  .left-anim {
    display: flex;
    flex-direction: column;
    margin-top: -160px;
    opacity: 1;
    transition: $anim;
  }

  .left-anim_open {
    opacity: 0;
    transform: translateX(-100px);
  }

  .center-anim {
    transition: all 0.4s linear;
  }

  .center-anim_show {
    transform: translateX(-70%);
  }

  .promo-open {
    position: absolute;
    top: 0;
    left: 41% + 8%;
    opacity: 0;
    transform: translateX(70px);
    z-index: -9999;
    transition: all 0.4s linear;
    transition-delay: 0.2s;
    max-width: 700px;
  }

  .promo-open_show {
    opacity: 1;
    left: 33%;
    transform: none;
    animation: zIndex 0.1s linear forwards;
  }

  .main-preview {
    opacity: 1;
    transform: none;
    transition: $anim;
  }

  .main-preview_show {
    opacity: 0;
    transform: translateX(-100px);
  }

  .main-block1 {
    position: relative;

    .row {
      height: 100%;
      position: static;
    }

    .title {
      font-family: GPR, Arial, sans-serif;
      font-size: 116px;
      line-height: 100%;
      margin-bottom: 4px;
    }

    .title-small {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      white-space: nowrap;
    }

    .subtitle {
      font-family: HR, Arial, sans-serif;
      font-size: 72px;
      color: white;
      display: flex;
      align-items: center;

      span {
        font-size: 38px;
        padding-left: 5px;
      }
    }

    .col-lg-2, .col-lg-3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .subtitle-link {
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: white;
      max-width: 120px;
      position: relative;
      display: flex;
      margin-bottom: 12px;

      &::before {
        content: url('../img/icons/bear.svg');
        margin-right: 13px;
      }
    }

    .desc-link {
      font-family: HR, Arial, sans-serif;
      font-size: 14px;
      color: white;
      max-width: 220px;
    }

    .green-link {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 342px;
      padding-top: 45px;
      padding-left: 44px;
      padding-bottom: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      &::before {
        content: url('../img/icons/left_arrow.svg');
        position: absolute;
        bottom: 39px;
        left: 44px;
        transition: $anim;
        cursor: pointer;
      }

      &:hover {

        &::before {
          transform: translateX(10px);
        }
      }
    }
  }

  .main-block3, .main-block4 {
    .first-count {
      letter-spacing: 0px;
    }
  }

  .promo-desc {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 150%;
    padding-top: 40px;
    margin-bottom: 25px;
    max-width: 235px;
  }

  .open-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;
    transition: $anim;

    &:hover {
      transform: translateX(10px);
    }

    &::before {
      content: url('../img/icons/left_arrow.svg');
      cursor: pointer;
    }
  }

  .promo-open {
    p {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      line-height: 130%;
      margin-bottom: 25px;
    }
  }

  .back-btn {
    background: none;
    padding: 0;
    border: none;
    position: relative;
    transition: $anim;
    margin-right: 40px;

    &:hover {
      transform: translateX(-10px);
    }

    &::before {
      content: url('../img/icons/right_arrow.svg');
      cursor: pointer;
    }
  }

  .btn-link {
    background: none;
    padding: 0;
    border: none;
    position: relative;
    transition: $anim;
    margin-right: 40px;

    &:hover {
      transform: translateX(10px);
    }

    &::before {
      content: url('../img/icons/left_arrow.svg');
      cursor: pointer;
    }
  }

  .btns-cont {
    display: flex;
  }
}

//footer

.footer {
  background: #171717;
  padding-top: 106px;
  padding-bottom: 68px;

  .footer-item {
    p {
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      color: white;
      margin-bottom: 41px;
    }

    a {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #797979;
      line-height: 140%;
      max-width: 171px;
      display: block;
      margin-bottom: 25px;
      transition: $anim;

      &:hover {
        color: white;
        opacity: 0.9;
      }
    }
  }

  .bear-footer-link {
    display: flex;
    justify-content: center;

    p {
      font-family: HR, Arial, sans-serif;
      font-size: 16px;
      color: #797979;
      line-height: 22px;
      max-width: 125px;
      transition: $anim;
    }

    img {
      opacity: 0.8;
    }

    &:hover {
      p {
        color: white;
        opacity: 0.9;
      }

      img {
        opacity: 1;
      }
    }
  }

  .bear-footer {
    max-width: 37px;
    margin-right: 17px;
  }

  .tel {
    font-family: HL, Arial, sans-serif;
    font-size: 22px;
    color: #cdcdcd;
    white-space: nowrap;
    margin-bottom: 20px;
    display: block;
    transition: $anim;

    &:hover {
      color: white;
      opacity: 0.9;
    }
  }

  .social-links {
    display: flex;

    a {
      color: #797979;
      font-size: 22px;
      margin: 0 10px;
      transition: $anim;

      &:hover {
        color: white;
        opacity: 0.9;
      }
    }
  }

  .footer-logo {
    max-width: 35px;
    margin-right: 15px;
  }

  .footer-logo_cont {
    display: flex;
    align-items: center;
    font-family: HL, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 62px;
  }

  .developer {
    font-family: HL, Arial, sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 62px;

    img {
      max-width: 82px;
      margin-left: 8px;
      padding-top: 3px;
    }
  }

  .flex-custom {
    display: flex;
  }
}

//corporate

.page-subitle {
  font-family: HeB, Arial, sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 42px;
  display: block;
}

.quotes {
  font-family: HR, Arial, sans-serif;
  font-size: 144px;
  color: #e21a1a;
  display: block;
  max-height: 48px;
  line-height: 72%;
  margin-bottom: 30px;
}

.page-title {
  font-family: HR, Arial, sans-serif;
  font-size: 64px;
  line-height: 120%;
}

.page-content {
  font-family: HR, Arial, sans-serif;
  font-size: 18px;
  color: #575757;
  line-height: 170%;
}

.page-content_big {
  font-family: HR, Arial, sans-serif;
  font-size: 24px;
  color: #171717;
}

.page-subtitle_big {
  font-family: HR, Arial, sans-serif;
  font-size: 48px;
  color: #171717;
}

.corporate-page {

  .corporate-block1 {
    padding-top: 187px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    margin-bottom: 80px;

    .page-title {
      color: white;
      max-width: 800px;
    }
  }

  .inner-img {
    margin-top: 57px;
  }

  .grey-bg {
    background: #F2F2F2;
    margin: 68px 0;
    padding: 58px;
  }

  .page-subtitle_big {
    margin-top: 48px;
    max-width: 800px;
    margin-bottom: 34px;
  }

  .margin-custom {
    margin-top: 76px;
  }

  .corp-list {
    margin-top: 30px;
    margin-bottom: 160px;
  }

  .corp-title {
    font-family: HR, Arial, sans-serif;
    font-size: 24px;
    color: black;
    line-height: 170%;
  }

  .corp-item {
    padding: 40px 0;
    position: relative;
    transition: 0.5s linear all;

    .corp-bottom {
      height: 0;
      opacity: 0;
      position: absolute;
      z-index: -9999;
      transition: $anim;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #d5d5d5;
      top: 0;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #d5d5d5;
      bottom: 0;
      left: 0;
    }

    .show-btn {
      position: absolute;
      right: 0;
      top: 53px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: all 0.4s linear;

      .line1 {
        width: 30px;
        height: 2px;
        background: #194d92;
        display: block;
        left: 0;
        top: 13px;
        position: absolute;
        transition: all 0.4s linear;
      }

      .line2 {
        width: 2px;
        height: 30px;
        background: #194d92;
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        transition: all 0.3s linear;
      }
    }

    .show-btn_open {
      .line2 {
        top: -1px;
        transform: rotate(90deg);
      }
    }

  }

  .open-item {
    .corp-bottom {
      height: auto;
      opacity: 1;
      padding-top: 24px;
      animation: zIndex 0.1s linear forwards;
      position: static;
    }
  }

  .corp-bottom {
    padding-left: 114px;

    p {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #575757;
      line-height: 170%;
    }
  }

  .corp-top {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 114px;

    img {
      position: absolute;
      left: 0;
      max-width: 70px;
    }

    .corp1 {
      max-width: 60px;
    }

    .corp2 {
      max-width: 70.3px;
    }

    .corp3 {
      max-width: 78px;
    }

    .corp4 {
      max-width: 70.3px;
    }
  }

  .corp-wrap {
    position: relative;
  }

  .corp-cont {
    position: absolute;
    right: 0;
    top: 0;

    h3 {
      max-width: 168px;
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      color: white;
    }

    img {
      max-width: 35px;
      transition: $anim;
      align-self: flex-end;
    }

    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 41px 31px 36px 46px;
    }

    .link {
      height: 300px;
      width: 342px;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: 1280px) {
        width: 250px;
        height: 250px;
      }

      &:hover {
        img {
          transform: translateX(10px);
        }
      }
    }

  }

}

//corporate page

.strategy-page {
  .corp2-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.4%;
    margin-top: 60px;

  }

  .corp2-item {
    margin: 0 2.4%;
    width: 11%;
    margin-bottom: 53px;

    img {
      max-width: 71px;
      margin-bottom: 20px;
    }

    p {
      font-family: HR, Arial, sans-serif;
      font-size: 12px;
      color: #575757;
      max-width: 107px;
    }

    .corp21 {
      max-width: 71.35px;
    }

    .corp22 {
      max-width: 29.19px;
    }

    .corp23 {
      max-width: 42.07px;
    }

    .corp24 {
      max-width: 51px;
    }

    .corp25 {
      max-width: 55px;
    }

    .corp26 {
      max-width: 47px;
    }

    .corp27 {
      max-width: 80px;
    }

    .corp28 {
      max-width: 69.6px;
    }

    .corp29 {
      max-width: 41px;
    }

    .corp210 {
      max-width: 25.45px;
    }

    .corp211 {
      max-width: 57px;
    }
  }


  .corp-item .corp-top {
    padding-left: 0;
  }

  .corp-bottom {
    padding-left: 0;
  }

}

//project page

.project-page {
  .corp-item .corp-top {
     padding-left: 83px;

    img {
      max-width: 55px;
    }
   }

  .corp-list {
    margin-bottom: 60px;
  }
}

//about page

.about-page {
  padding-bottom: 95px;

  .page-title {
    color: white;
    max-width: 800px;
  }

  .about-block1 {
    padding-top: 187px;
    padding-bottom: 68px;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .about-cont {
    position: absolute;
    right: 0;
    top: -282/2*1px;
    max-width: 342px;
    padding-right: 0;
    margin-right: 0;

    @media screen and (max-width: 1280px) {
      max-width: 250px;
    }

    img {
      margin-bottom: 45px;

    }

      .boss-name {
        font-family: HeB, Arial, sans-serif;
        color: black;
        font-size: 18px;
        margin-bottom: 18px;
      }

      .boss-desc {
        font-family: HR, Arial, sans-serif;
        font-size: 18px;
        color: #575757;
        max-width: 216px;
      }
  }

  .about-wrap {
    position: relative;
    padding-top: 76px;
  }

  .page-content {
    margin-bottom: 30px;
  }

  .grey-bg {
    background: #F2F2F2;
    padding: 57px;
    margin-top: 58px;
    margin-bottom: 76px;
  }

  .date-slider_wrap {
    position: relative;
    margin-bottom: 140px;

    .title {
      font-family: HR, Arial, sans-serif;
      font-size: 48px;
      color: #171717;
      position: absolute;
      top: 116px;
      left: 8%;
      z-index: 2;
    }

    .slick-prev {
      font-size: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 3;
      width: 48px;
      height: 20px;
      cursor: pointer;
      top: 345px;
      left: 8%;
      transition: $anim;
      padding: 0;

      &:hover {
        transform: translateX(-10px);
      }

      &::before {
        content: url('../img/icons/right_arrow.svg');
        width: 48px;
        height: 20px;
        display: block;
      }
    }

    .slick-next {
      font-size: 0;
      background: none;
      border: none;
      position: absolute;
      z-index: 3;
      width: 48px;
      height: 20px;
      cursor: pointer;
      top: 345px;
      right: 8%;
      transition: $anim;

      &:hover {
        transform: translateX(10px);
      }

      &::before {
        content: url('../img/icons/left_arrow.svg');
        width: 48px;
        height: 20px;
        display: block;
      }
    }

    .dots-cont {
      display: flex;
      position: absolute;
      width: 100%;
      top: 269px;
      z-index: 2;


      button {
        font-family: HR, Arial, sans-serif;
        font-size: 36px;
        color: white;
        opacity: 0.5;
        transition: $anim;
        cursor: pointer;
        background: none;
        border: 0;
        margin: 0 3%;
        outline: none;

        @media screen and (max-width: 1024px) {
          font-size: 30px;
        }

        &:hover {
          transform: scale(1.3);
        }
      }

      .date8 {
        color: #1C1C1C;
      }

      .dots-left {
        width: 40%;
        display: flex;
        justify-content: space-between;

        &:hover button {
          opacity: 1;
        }
      }

      .dots-right {
        width: 60%;
        display: flex;
        justify-content: space-between;

        &:hover button {
          opacity: 1;
        }
      }

      .active-btn {
        opacity: 1;
        transform: scale(1.3);
      }
    }

  }

  .date-slide {
    padding-top: 440px;
    padding-bottom: 290px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position-y: 100%;

    @media screen and (max-width: 1440px) {
      background-size: cover;
    }

    p {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #575757;
      margin-bottom: 30px;
    }
  }

  .bosses-slider {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;

    .slick-dots {
      display: flex;
      align-self: center;
      margin-top: 60px;


      button {
        padding: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: none;
        font-size: 0;
        background: #C5C5C5;
        cursor: pointer;
        outline: none;
        margin: 0 7px;
        transition: $anim;
      }

      .slick-active button {
        width: 17px;
        height: 17px;
        background: #194D92;
      }
    }
  }

  .boss-slide {
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      .inner-slide {
        bottom: 0;
      }
    }

    .inner-slide {
      background: #194D92;
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s linear;
      padding: 40px;
      display: flex;
      flex-direction: column;

      &::before {
        content: url('../img/icons/left_arrow.svg');
        position: absolute;
        bottom: 40px;
        right: 40px;
      }

      .name {
        font-family: HeB, Arial, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
        color: white;
      }

      .position {
        font-family: HR, Arial, sans-serif;
        font-size: 18px;
        color: white;
      }
    }
  }

  .partners-slider {
    display: flex;
    margin-bottom: 185px;
    margin-top: 60px;

    .partner-slide {
      width: 25%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      border: 1px solid #ececec;
      position: relative;
      overflow: hidden;

      &:hover {
        .inner-slide {
          bottom: 0;
        }
      }

      img {
        max-width: 140px;
      }

      .inner-slide {
        background: #194D92;
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s linear;
        padding: 40px;
        display: flex;
        flex-direction: column;

        &::before {
          content: url('../img/icons/left_arrow.svg');
          position: absolute;
          bottom: 40px;
          right: 40px;
        }

        .name {
          font-family: HeB, Arial, sans-serif;
          font-size: 18px;
          margin-bottom: 10px;
          color: white;
        }

        .position {
          font-family: HR, Arial, sans-serif;
          font-size: 18px;
          color: white;
        }

      }
    }
  }

  .custom-title {
    margin-bottom: 35px;
  }

  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .client {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 0 40px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    transition: $anim;
    opacity: 0.5;
    filter: grayscale(1);

    &:hover {
      opacity: 1;
      filter: none;
    }
  }

  .hidden-client {
    display: none;
  }

  .showmore-client {
    margin: 0 auto;
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #194d92;
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #194d92;
      top: 13px;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      height: 30px;
      width: 2px;
      background: #194d92;
      top: 0;
      left: 15px;
    }
  }
}

//boss modal

.boss-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  z-index: -9999;


  .left {
    min-width: 40vw;

  }

  .right {
    padding-top: 61px;
    padding-right: 114px;
    padding-left: 114/1366*100%;
  }

  .name {
    font-family: HR, Arial, sans-serif;
    font-size: 48px;
    color: #171717;
    margin-bottom: 16px;
  }

  .role {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #171717;
    margin-bottom: 75px;
  }

  .desc {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #575757;
    margin-bottom: 20px;
  }

  .close-modal {
    width: 71px;
    height: 71px;
    background: #171717;
    transition: $anim;
    cursor: pointer;
    position: absolute;
    border: none;
    right: 0;
    top: 0;

    &:hover {
      background: #194D92;
    }

    &::before {
      content: '';
      width: 21px;
      height: 2px;
      background: white;
      position: absolute;
      top: 35px;
      left: 27px;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      width: 21px;
      height: 2px;
      background: white;
      position: absolute;
      top: 35px;
      left: 27px;
      transform: rotate(-45deg);
    }
  }
}

//part modal

.part-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: -9999;
  opacity: 0;
  position: fixed;
  left: 0;
  top:0;
  background: white;

  .left {
    min-width: 40vw;
    height: 100vh;
    position: relative;

    .logo {
      position: absolute;
      z-index: 9;
      max-width: 225px;
      width: 225px;
      left: calc(50% - 225px/2);
      top: calc(50% - 225px/2);
    }

    div {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    padding: 61px 114px 45px 114/1366*100%;
  }

  .name {
    font-family: HR, Arial, sans-serif;
    font-size: 48px;
    color: #171717;
    margin-bottom: 16px;
  }

  .site {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #194D92;
    margin-top: auto;
  }

  .role {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #171717;
    margin-bottom: 75px;
  }

  .desc {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #575757;
    margin-bottom: 20px;
  }

  .close-modal {
    width: 71px;
    height: 71px;
    background: #171717;
    transition: $anim;
    cursor: pointer;
    position: absolute;
    border: none;
    right: 0;
    top: 0;

    &:hover {
      background: #194D92;
    }

    &::before {
      content: '';
      width: 21px;
      height: 2px;
      background: white;
      position: absolute;
      top: 35px;
      left: 27px;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      width: 21px;
      height: 2px;
      background: white;
      position: absolute;
      top: 35px;
      left: 27px;
      transform: rotate(-45deg);
    }
  }
}

.part-modal_show {
  opacity: 1;
  animation: zIndex 0.1s linear forwards;
  transition: 0.3s linear all;
}

.boss-modal_show {
  opacity: 1;
  animation: zIndex 0.1s linear forwards;
  transition: all 0.3s linear;
}

//contacts

.contacts-page {
  min-height: 100vh;
  position: relative;
  padding-top: 140px;

  .title {
    font-family: HR, Arial, sans-serif;
    font-size: 64px;
    color: #171717;
    z-index: 10;
    position: relative;
    margin-bottom: 60px;
  }

  .map {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .contacts-list {
    position: relative;
    z-index: 10;
    margin-bottom: 92px;
  }

  .contacts-item {
    background: #F2F2F2;
    margin-bottom: 1px;

    .name {
      padding: 27px 40px 27px 38px;
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #171717;
      cursor: pointer;
    }

    .inner-name {
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      color: #171717;
      margin-bottom: 20px;
      max-width: 460px;
    }

    .address {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #171717;
      margin-bottom: 37px;
    }

    .label {
      font-family: HR, Arial, sans-serif;
      font-size: 14px;
      color: #a3a3a3;
      margin-bottom: 10px;
    }

    a {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #171717;
    }

    .inner {
      padding-left: 38px;
      padding-right: 40px;
      height: 0;
      opacity: 0;
      position: absolute;
      z-index: -9999;
      transition: all 0.3s linear;
    }

    .inner-wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  .open-item_cont {
    position: relative;

    .name {
      color: white;
      background: #194D92;
      position: static;

      &::before {
        content: '';
        position: absolute;
        border: 40px solid transparent;
        border-left: 15px solid #194D92;
        right: -55px;
        top: 0;
      }
    }

    .inner {
      padding-top: 36px;
      padding-bottom: 36px;
      height: auto;
      opacity: 1;
      position: static;
      animation: zIndex 0.1s linear forwards;
    }
  }

  .map {
    display: none;
  }

  .open-map {
    display: block;
  }
}

//structure page

.structure-page {
  padding-top: 140px;

  .title {
    font-family: HR, Arial, sans-serif;
    font-size: 64px;
    color: #171717;
    margin-bottom: 60px;
  }

  .corp-top {
    padding-left: 0;
  }

 .corp-bottom {
   padding-left: 0;
 }

  .structure-slider {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    .slick-dots {
      display: flex;
      align-self: center;
      margin-top: 45px;

      button {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        outline: none;
        background: #C5c5c5;
        border: none;
        font-size: 0;
        margin: 0 5px;
        transition: $anim;
      }

      .slick-active  button{
        width: 15px;
        height: 15px;
        background: #194d92;
      }
    }
  }

  .structure-slide {
    display: flex!important;
    align-items: center;
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #575757;

    img {
      max-width: 22%;
      margin-right: 20px;
    }
  }

  .corp-list {
    margin-bottom: 60px;
  }

  .partners-slider {
    display: flex;
    margin-bottom: 185px;
    margin-top: 60px;

    .partner-slide {
      width: 25%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      border: 1px solid #ececec;
      position: relative;
      overflow: hidden;

      &:hover {
        .inner-slide {
          bottom: 0;
        }
      }

      img {
        max-width: 140px;
      }

      .inner-slide {
        background: #194D92;
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s linear;
        padding: 40px;
        display: flex;
        flex-direction: column;

        &::before {
          content: url('../img/icons/left_arrow.svg');
          position: absolute;
          bottom: 40px;
          right: 40px;
        }

        .name {
          font-family: HeB, Arial, sans-serif;
          font-size: 18px;
          margin-bottom: 10px;
          color: white;
        }

        .position {
          font-family: HR, Arial, sans-serif;
          font-size: 18px;
          color: white;
        }

      }
    }
  }
}

//green ecnomic page

.green-page {
  .green-block1 {
    padding-top: 250px;
    padding-bottom: 143px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .subtitle {
      font-family: Roboto, Arial, sans-serif;
      font-size: 36px;
      color: white;
      margin-bottom: 40px;
    }

    .desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      line-height: 120%;
      max-width: 631px;

     @media screen and (max-width: 1280px) {
       max-width: 600px;
     }

      @media screen and (max-width: 1024px) {
        max-width: 500px;
      }

    }

    .link {
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 342px;
      height: 260px;
      position: absolute;
      bottom: 0;
      right: 0;


      a {
        padding: 46px 0 40px 30px;
        display: block;
        position: relative;

        &::before {
          content: url('../img/icons/left_arrow.svg');
          position: absolute;
          left: 30px;
          bottom: 0;
          transition: $anim;
        }

        &:hover {
          &::before {
            transform: translateX(10px);
          }
        }
      }

      .title-link {
        font-family: HeB, Arial, sans-serif;
        font-size: 18px;
        color: white;
        margin-bottom: 30px;
      }

      .desc-link {
        font-family: HR, Arial, sans-serif;
        font-size: 14px;
        color: white;
        max-width: 217px;
      }
    }
  }

  .block1-top {
    display: flex;
    align-items: center;
    margin-bottom: 70px;

    img {
      max-width: 114px;
      margin-right: 40px;
    }

    .title {
      font-family: HR, Arial, sans-serif;
      font-size: 72px;
      color: white;
    }
  }

  .green-block2 {
    background: #171717;
    color: white;
    padding-top: 80px;
    padding-bottom: 160px;
    position: relative;
    margin-bottom: 90px;

    &::before {
      position: absolute;
      content: url('../img/green/right.png');
      right: 0;
      bottom:280px;
      z-index: 2;
    }

    .title {
      font-family: HR, Arial, sans-serif;
      font-size: 48px;
      color: white;
      max-width: 855px;
      margin-bottom: 70px;
    }

    .desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      margin-bottom: 30px;
    }

    .big {
      font-family: HB, Arial, sans-serif;
      font-size: 48px;
      margin-bottom: 40px;
    }

    .small {
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;

    }
  }

  .corp-top, .corp-bottom {
  padding-left: 0;
  }

  .page-subtitle_big {
    margin-top: 0;
  }

  .corp-title {
    max-width: 600px;
  }

  .corp-list {
    margin-bottom: 90px;
  }

  .green-block4 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-family: HR, Arial, sans-serif;
      font-size: 48px;
      color: white;
      margin-bottom: 60px;
    }

    .desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      line-height: 130%;
      max-width: 741px;
      margin-bottom: 60px;
    }

    .download-btn {
      width: 282px;
      height: 70px;
      display: block;
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      color: #171717;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      margin-bottom: 35px;
    }

    li {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: white;
      line-height: 130%;
      max-width: 650px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 15px;

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: white;
        left: 0;
        top: 10px;
      }

    }
  }

  .green-block5 {
    background: #171717;
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .titlle {
      font-family: HR, Arial, sans-serif;
      font-size: 48px;
      margin-bottom: 80px;
    }

    .desc {
      font-family: HR, Arial, sans-serif;
      font-size: 36px;
      margin-bottom: 50px;
      max-width: 680px;
    }

    .slick-dots {
      display: flex;
      align-self: center;

      button {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        transition: $anim;
        margin: 0 5px;
        cursor: pointer;
        outline: none;
        background: #FFFFFF;
        opacity: 0.5;
        font-size: 0;
        border: none;
        padding: 0;
      }

      .slick-active button {
        width: 15px;
        height: 15px;
        background: white;
        opacity: 1;
      }
    }



    .block5-slide {
      .date {
        font-family: HR, Arial, sans-serif;
        font-size: 18px;
        color: white;
        opacity: 0.5;
        margin-bottom: 15px;
      }

      .desc {
        font-family: HR, Arial, sans-serif;
        font-size: 24px;
        colo: white;
        margin-bottom: 25px;
      }

      a {
        font-family: HeB, Arial, sans-serif;
        font-size: 18px;
        color: white;
        text-decoration: underline;
        margin-bottom: 75px;
        display: block;
      }
    }
  }

  .green-block6 {
    .custom-padding {
      padding-left: 7%;
      padding-right: 7%;

      .inner-wrap {
        display: flex;
      }

      img {
        margin-right: 110px;
      }
    }

    .title {
      font-family: HR, Arial, sans-serif;
      font-size: 48px;
      color: #171717;
      margin-bottom: 40px;
    }

    .desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #575757;
      line-height: 150%;
      margin-bottom: 180px;
      max-width: 650px;
    }

    img {
      max-width: 290px;
      margin-bottom: 25px;
    }

    .col-lg-4 {
      display: flex;
      justify-content: flex-end;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    .role {
      font-family: HR, Arial, sans-serif;
      font-size: 28px;
      color: black;
      margin-bottom: 35px;
      line-height: 150%;
    }

    .name {
      font-family: HeB, Arial, sans-serif;
      font-size: 28px;
      color: black;
      margin-bottom: 35px;
    }

    .cont {
      font-family: HR, Arial, sans-serif;
      font-size: 28px;
      color: black;
    }

    .patent-slider {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .slick-dots {
        display: flex;
        align-self: center;

        button {
          padding: 0;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #C5c5c5;
          cursor: pointer;
          outline: none;
          margin: 0 5px;
          transition: $anim;
          font-size: 0;
          border: none;
        }

        .slick-active button {
          width: 15px;
          height: 15px;
          background: #194d92;
        }
      }
    }

  }

}

//blog

.blog {
  padding-top: 140px;

  .post-type {
    font-family: HR, Arial, sans-serif;
    font-size-adjust: 16px;
    color: black;
    line-height: 100%;
    margin-top: 40px;
    margin-bottom: 23px;
  }

  .custom-flex {
    display: flex;
    flex-wrap: wrap;

    .col-lg-4 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .grey-bg {
    background: #F2F2F2;
  }

  .blog-page1 .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .post-name {
    font-family: HR, Arial, sans-serif;
    font-size: 24px;
    color: black;
    max-width: 80%;

    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }
  }

  .blog-page1 {
    .post-name {
      margin-bottom: 100px;
    }
  }


  .title {
    font-family: HR, Arial, sans-serif;
    font-size: 64px;
    color: #171717;
    margin-bottom: 67px;
  }

  .news-nav {
    display: flex;
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: black;
    margin-bottom: 71px;

    p {
      padding: 12px 26px;
      cursor: pointer;
    }

    .this-item {
      background: #F2F2F2;
    }

  }

  .post-type_big {
    font-family: HR, Arial, sans-serif;
    font-size: 24px;
    color: black;
    list-style: 100%;
    margin-bottom: 35px;


  }

  .post-name_big {
    font-family: HR, Arial, sans-serif;
    font-size: 36px;
    color: black;
    line-height: 140%;
    max-width: 80%;

    @media screen and (max-width: 1280px) {
      max-width: 100%;
    }
  }

  .blog-page2 {
    padding-top: 100px;
    padding-bottom: 145px;
    margin-bottom: 135px;
  }

  .desc_bottom {
    margin-top: 165px;
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height: 30px;
    margin-bottom: 75px;
  }

  .tittle_bottom {
    font-family: HR, Arial, sans-serif;
    font-size: 24px;
    color: #171717;
    line-height: 140%;
    margin-bottom: 32px;
  }

  .bottom-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6%;


    .bottom-item {
      max-width: 255px;
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #a1a1a1;
      line-height: 26px;
      margin: 0 6%;
      margin-bottom: 30px;

      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }
    }
  }

  .right-dir {
    margin-top: 165px;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 286px;
      margin-bottom: 45x;
    }

    .right-title {
      font-family: HeB, Arial, sans-serif;
      font-size: 18px;
      color: black;
      margin-bottom: 12px;
    }

    .right-desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: black;
      display: block;
    }
  }

  .blog-page3 .grey-bg {
    padding: 70px;
    display: flex;
    margin-bottom: 90px;

    .form-desc {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #000;
      width: 40%;
      margin-right: 100px;
    }

    .blog-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        justify-content: space-between;
      }

      input {
        height: 60px;
        background: none;
        border: none;
        font-family: HR, Arial, sans-serif;
        font-size: 24px;
        color: black;
        outline: none;
        border-bottom: 1px solid black;
        margin-right: 84px;
        width: 100%;

        &::placeholder {
          color: black;
        }
      }

      .submit {
        height: 80px;
        background: #171717;
        font-family: HeB, Arial, sans-serif;
        font-size: 18px;
        color: white;
        border: none;
        padding: 0 55px;
        cursor: pointer;
        outline: none;
        opacity: 1;

        @media screen and (max-width: 1024px) {
          padding: 0 20px;
        }

        &:disabled {
          opacity: 0.4;
          cursor: auto;
        }
      }

      #check {
        display: none;
      }

      label {
        margin-top: 30px;
        font-family: HR, Arial, sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: black;
        padding-left: 50px;
        position: relative;
        max-width: 475px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          border: 1px solid black;
          left: 0;
          top: 5px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 5px;
          box-sizing: border-box;
        }


        p{
          opacity: 0.3;
          display: inline;
        }

        a {
          color: black;
          opacity: 0.5;
          display: inline;
        }
      }

      #check:checked + label {
        &::before {
          content: url('../img/icons/check.svg');
        }
      }
    }
  }

  .breadcrumbs {
    display: flex;
    margin: 0 -3.5px;
    margin-bottom: 125px;

    .bread-item {
      cursor: pointer;
      width: 72px;
      height: 72px;
      background: rgba(94, 94, 94, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: black;
      transition: $anim;
      margin: 0 3.5px;

      p,a  {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        img {
          max-width: 35px;
        }
      }
    }

    .this-bread {
      color: white;
      background: #194D92;

      p,a  {
        color: white;
      }
    }

    .last-bread {
      margin-left: 35px - 3.5px;
    }
  }

  .block-news {
    display: none;
  }

  .block-news_show {
    display: flex;
  }
}

//post page

.post-page {
  .post-block1 {
    background: url('../img/post/bg-mask.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 134px;
    padding-bottom: 140px;
    margin-bottom: 80px;
  }

  .bread-post {
    display: flex;
    margin-bottom: 20px;

    a {
      font-family: HR, Arial, sans-serif;
      font-size: 14px;
      color: white;
      margin-right: 34px;
      position: relative;
      text-decoration: underline;

    }

    li:first-of-type  a{

      &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 1px;
        background: white;
        right: -25px;
        top: 10px;
      }
    }
  }

  .date {
    font-family: HeB, Arial, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }

  .title {
    font-family: HR, Arial, sans-serif;
    font-size: 42px;
    color: white;
    line-height: 130%;

  }

  .post-wrap {
    position: relative;
  }

  .post-cont {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 340px;

    @media screen and (max-width: 1280px) {
      max-width: 250px;
    }

    .link {
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      @media screen and (max-width: 1280px) {
      height: 250px;
      }

      a {
        padding: 45px 41px 35px 41px;
        display: flex;
        height: 100%;
        flex-direction: column;

        &:hover {
          img {
            transform: translateX(10px);
          }
        }

      }

      p {
        font-family: HR, Arial, sans-serif;
        font-size: 10px;
        color: white;
        margin-bottom: 15px;
      }

      h3 {
        font-family: HeB, Arial, sans-serif;
        font-size: 14px;
        color: white;
      }

      img {
        max-width: 35px;
        margin-top: auto;
        align-self: flex-end;
        transition: $anim;
      }
    }
  }

  .col-lg-9 {
    p {
      font-family: HR, Arial, sans-serif;
      font-size: 18px;
      color: #575757;
      line-height: 150%;
      margin-bottom: 60px;
    }

    b {
      display: block;
      background: #F2F2F2;
      font-family: HR, Arial, sans-serif;
      font-size: 24px;
      color: #171717;
      line-height: 140%;
      padding: 58px;
      margin-bottom: 60px;
      position: relative;

      &::before {
        content: url('../img/post/b.svg');
        position: absolute;
        top: 27px;
        right: 58px;
      }
    }

    img {
      margin-bottom: 20px;
    }

    i {
      font-family: HR, Arial, sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #7f7f7f;
      opacity: 0.8;
      margin-bottom: 60px;
      display: block;
    }

    blockquote {
      display: block;
      background: #F2F2F2;
      font-family: HR, Arial, sans-serif;
      font-size: 24px;
      color: #171717;
      line-height: 140%;
      padding: 58px;
      margin-bottom: 60px;
      position: relative;

      &::before {
        content: '”';
        position: absolute;
        font-family: HR, Arial, sans-serif;
        font-size: 400px;
        color: white;
        width: 50px;
        opacity: 0.9;
        display: block;
        bottom: 0;
        right: 127px;
      }

      i {
        margin-bottom: 0;
        margin-top: 20px;
      }
    }

    .post-slider {
      display: flex;

      .slick-prev {
        align-self: center;
        font-size: 0;
        background: none;
        border: none;
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.6);
        cursor: pointer;
        outline: none;

        &::before {
          content: url('../img/icons/right_arrow.svg');
        }
      }

      .slick-next {
        align-self: center;
        font-size: 0;
        background: none;
        border: none;
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.6);
        cursor: pointer;
        outline: none;
        right: 0;

        &::before {
          content: url('../img/icons/left_arrow.svg');
        }
      }
    }
  }

  .post-slider-wrap {
    position: relative;

    .slider-counter {
      width: 88px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: HR, Arial, sans-serif;
      font-size: 16px;
      color: white;
      position: absolute;
      bottom: 20px;
      left: calc(100% - 50% - 44px);
      background: rgba(0,0,0,0.6);
    }
  }
}

//error page

.error-page {
  padding-top: 200px;
  padding-bottom: 182px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .title {
    font-family: HeB, Arial, sans-serif;
    font-size: 280px;
    color: #194D92;
    position: relative;

    &::before {
      content: url('../img/404.svg');
      position: absolute;
    }
  }

  .desc {
    font-family: HR, Arial, sans-serif;
    font-size: 18px;
    color: #171717;
  }
}

//media quaries

@media screen and (max-width: 1280px) {
  .about-page .partners-slider .partner-slide .inner-slide .name, .about-page .partners-slider .partner-slide .inner-slide .position {
    font-size: 14px;
  }

  .about-page .partners-slider .partner-slide .inner-slide {
    padding: 10px;
  }

  .about-page .partners-slider .partner-slide .inner-slide::before {
    right: 10px;
    bottom: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .main-slider .title-other {
    font-size: 38px;
  }

  .main-slider .promo-open {
    max-width: 600px;
  }
}

@keyframes zIndex {
  from {
    z-index: -9999;
  }

  to {
    z-index: 100;
  }
}